@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: inherit;
  height: inherit;
}

/* Switch off focus styles on inputs */
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}